@model IEnumerable<PhotoGallery.Models.Category>

@{
	ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>

<button type="button" class="btn btn-success btn-sm" data-toggle="ajax-modal" data-bs-target="#addCategory" data-url="@Url.Action("Create")">
	<i class="bi bi-plus-circle"></i>
</button>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<button type="button" class="btn btn-warning btn-sm" data-toggle="ajax-modal" data-bs-target="#addCategory"
						data-url="@Url.Action($"Edit/{item.CategoryID}")">
						<i class="bi bi-pencil-square"></i>
					</button> |
					<button type="button" class="btn btn-primary btn-sm" data-toggle="ajax-modal" data-bs-target="#addCategory"
						data-url="@Url.Action($"Details/{item.CategoryID}")">
						<i class="bi bi-eye"></i>
					</button> |
					<button type="button" class="btn btn-danger btn-sm" data-toggle="ajax-modal" data-bs-target="#addCategory"
						data-url="@Url.Action($"Delete/{item.CategoryID}")">
						<i class="bi bi-trash3"></i>
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>
